.userIdpicture {
 
 
  width: 17%;
  border-radius: 50%;
  object-fit: cover;
}
.userIdpicture img{
    border-radius: 40rem;
    width: 100%;
}
/* reviw css */
.userName{
    font-size: 2rem;
    background: rgba(95, 95, 95, 0.384);
    border-radius: 2rem;
 
}
/* stars */
.stars i{
    color: rgb(0, 164, 230);
    font-size: 1.5rem;
    letter-spacing: 2px;
}