/*  font family */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
/*  root variable colors */
:root{
  --green:#27ae60;
  --black:#192a56;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
/*  selection */
::selection{
  background: var(--green);
}
/*  basic css  */
*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}
/*  basic html */
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}
/*  section */
section{
  padding:2rem 9%;
}

section:nth-child(even){
  background:#eee;
}

/* media queries  */

@media (max-width:991px){

  html{
      font-size: 55%;
  }
  
  header{
      padding:1rem 2rem;
  }

  section{
      padding:2rem;
  }


}

@media (max-width:768px){

 

  header .navbar{
      position: absolute;
      top:100%; left:0; right:0;
      background:#fff;
      border-top: .1rem solid rgba(0,0,0,.2);
      border-bottom: .1rem solid rgba(0,0,0,.2);
      padding:1rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
      display: block;
      padding:1.5rem;
      margin:1rem;
      font-size: 2rem;
      background:#eee;
  }

  #search-form #search-box{
      width:90%;
      margin:0 1rem;
  }

  .home .home-slider .slide .content h3{
      font-size: 5rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  .dishes .box-container .box img{
      height:auto;
      width: 100%;
  }

  .order form .inputBox .input{
      width:100%;
  }

}
